node_modules/
.env
coverage/
coverage.json
typechain/
typechain-types/

# Hardhat files
cache/
artifacts/

# Frontend (React/Vite)
dist/
dist-ssr/
*.local

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
